{% extends 'layout.html' %}
{% block style %}
	.note {
		color: grey;
        margin-bottom: 10px;
	}
{% endblock %}
{% block content %}
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;订单{{oid}}&emsp;客户：{{customer}}
        </h3>
      </div>
      <div class="panel-body">
        <form method="post" novalidate>
          {% csrf_token %}
          {% for field in order %}
            {{ field }}
            <span style="color: red">{{ field.errors.0 }}</span>
          {% endfor %}
          <div class="text-right">
            <button type="submit" class="btn btn-success" id="order">
              <div class="glyphicon glyphicon-ok"></div>&nbsp;&nbsp;保存&nbsp;
            </button>
          </div>
        </form>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-th-list"></span>
          &nbsp;&nbsp;订单中的商品
        </h3>
      </div>
      <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>序号</th>
        <th>商品名称</th>
        <th>数量</th>
        <th>单价</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for include in includes %}
        <tr>
            <td></td>
            <td><span class="note">- 商品{{forloop.counter}}</span></td>
            {% for product, info in include.items %}
            <td>{{product.name}}</td>
            <td>{{info.1.0}}</td>
            <td>{{info.1.1}}</td>
            <td>
              <a class="btn btn-info btn-xs" id="save" href="/include/edit/{{info.0}}/">
                  <span class="glyphicon glyphicon-search"></span>&nbsp;展开
              </a>
              <a class="btn btn-danger btn-xs" href="/include/delete/{{info.0}}/">
                  <span class="glyphicon glyphicon-trash"></span>&nbsp;删除
              </a>
            </td>
            {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <div class="panel-footer">
      <div class="text-right">
        <div class="btn btn-primary" onclick="javascript:window.location.href='/order/my/'" style="margin-right: 5px">
            <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;关闭&nbsp;
        </div>
        <a class="btn btn-info" style="margin-right: 5px" href="/order/addproduct/{{oid}}/">
            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;添加商品&nbsp;
        </a>
        <div class="btn btn-warning" id="edit" style="margin-right: 5px">
            <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;开启编辑&nbsp;
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
	<script>
        var inputs = document.getElementsByClassName("form-control");
        for(i = 0; i < inputs.length; ++i) {
			inputs[i].setAttribute("readonly", true);
        }
        var save = document.getElementById("order");
        save.style.display="none";
        var selects = document.getElementsByTagName("select");
        for(i = 0; i < selects.length; ++i) {
            if(i == 0 || i == 4) {
                selects[i].style.display="none";
            }
        }
        var as = document.getElementsByTagName("a");
        for(i = 0; i < as.length; ++i) {
            if(as[i].id == 'save'){
                as[i].style.display="none";
            }
        }

        var edit = document.getElementById("edit");
		edit.onclick = function $() {
            save.style.display="";
            for(i = 0; i < inputs.length; ++i) {
				inputs[i].removeAttribute("readonly");
			}
            for(i = 0; i < selects.length; ++i) {
                selects[i].style.display="";
            }
            for(i = 0; i < as.length; ++i) {
                if(as[i].id == 'save'){
                    as[i].style.display="";
                }
            }
		}
    </script>
{% endblock %}