{% extends 'layout.html' %}
{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span class="glyphicon glyphicon-tags"></span>
				&nbsp;&nbsp;产品列表
			</h3>
		</div>
		<div class="panel-body">
			<form method="post" novalidate>
				{% csrf_token %}
				<div class="col-xs-11">
					<input class="form-control" placeholder="模糊查找" style="margin-right: 15px" name="search">
				</div>
				<button class="btn btn-primary" id="search" type="submit">
					<span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;搜索
				</button>
			</form>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>产品编号</th>
					<th>名称</th>
					<th>规格型号</th>
					<th>单位</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
				<tr>
					<td></td>
					<td>{{product.rid}}</td>
					<td>{{product.name}}</td>
					<td>{{product.model}}</td>
					<td>{{product.unit}}</td>
					<td>
						<a class="btn btn-primary btn-xs" href="/product/edit/{{product.rid}}/">
							<span class="glyphicon glyphicon-search"></span>&nbsp;查看
						</a>
						<a class="btn btn-danger btn-xs" href="/product/delete/{{product.rid}}/">
							<span class="glyphicon glyphicon-trash"></span>&nbsp;删除
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="panel-footer">
			<div class="text-right">
				<a class="btn btn-success" href="/product/add/">
					<span class="glyphicon glyphicon-plus-sign"></span>
					&nbsp;增加产品
				</a>
			</div>
		</div>
	</div>
{% endblock %}
